/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: rgb(50,82,123);
    background: radial-gradient(circle, rgba(50,82,123,1) 2%, rgba(63,103,154,1) 25%, rgba(255,255,255,1) 91%);
    color: #333;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    margin: 30px 0;
  }
  
  .converter {
    display:block;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px 20rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);
   
  }
  

  .converter label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
  }
  
  .converter input,
  .converter select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .converter input:focus,
  .converter select:focus {
    border-color: #0070c0;
  }
  
  .button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #32527b;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 10rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  .button:hover {
    background-color: #005da1;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .converter {
      flex-direction: column;
    }
  
    .converter label {
      font-size: 16px;
    }
  
    .converter input,
    .converter select {
      font-size: 14px;
    }
  
    .converter button {
      font-size: 16px;
    }
  }
  